@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth fonts and background */

@keyframes floatUp {
  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}


body {
  @apply bg-gray-50 text-gray-900 antialiased;
}
